.intereseted-container {
  width: 100vw;
  padding: 0 213px;
  margin: 100px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.interested-heading {
  width: 350px;
}

.interested-line {
  width: 535px;
  border: 1px solid var(--color-light-grey);
}

@media screen and (max-width: 1224px) {
  .intereseted-container {
    padding: 0 20px;
  }

  .interested-line {
    width: 150px;
  }
}

@media screen and (max-width: 450px) {
  .intereseted-container {
    padding: 0 10px;
    display: block;
    text-align: center;
  }

  .interested-line {
    display: none;
  }
}
