.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*width: 100vw;
  padding: 20px 213px;*/
  padding: 10px 0;
}

.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-list > li {
  padding: 0 20px;
  cursor: pointer;
}

.nav-list > li:last-child {
  padding-right: 0;
}

.nav-list > li > a {
  text-decoration: none;
}

.nav-list > li:hover > a {
  color: var(--color-cyan);
}

.current-page > a {
  color: var(--color-cyan);
}

.hide {
  display: none;
}

.show {
  display: block;
}

@media screen and (max-width: 1224px) {
  .header-nav {
    padding: 45px 20px;
  }
}

@media screen and (max-width: 450px) {
  .header-nav {
    position: relative;
  }

  .nav-list {
    list-style: none;
    position: absolute;
    top: 62px;
    right: 52px;
    padding: 20px 0;
    text-align: center;
    background-color: var(--color-grayish-blue);
    z-index: 10;
  }

  .nav-list > li {
    padding: 10px 60px;
    border-bottom: 1px solid var(--color-light-grey);
  }

  .nav-list > li:first-child {
    border-top: 1px solid var(--color-light-grey);
  }

  .nav-list > li:last-child {
    padding-right: 60px;
  }

  .nav-link > a {
    color: var(--color-very-light-grey);
  }

  .nav-list > li > a {
    text-decoration: none;
    font-size: 12px;
  }

  .btn-hamburg {
    border: 0;
    background-color: var(--color-very-light-grey);
  }
}
