.bare-btn {
  height: 45px;
  padding: 0 25px;
  border: 1px solid #475569;
  background-color: var(--color-very-light-grey);
  font-family: "Public Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 2.5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.bare-btn:hover {
  background-color: var(--color-dark-blue);
  color: var(--color-very-light-grey);
}

.btn-icons {
  fill: #33323d;
}
.bare-btn:hover .btn-icons {
  fill: var(--color-very-light-grey);
}

@media screen and (max-width: 425px) {
  .bare-btn {
    width: 100%;
    margin: 15px auto 0;
  }
}
