.btn {
  padding: 10px 25px;
  font-family: "Public Sans", Helvetica, Arial, sans-serif;
  font-size: 12px;
  letter-spacing: 2.5px;
  color: var(--color-very-light-grey);
  background-color: var(--color-dark-blue);
  cursor: pointer;
}

.btn:hover {
  background-color: var(--color-orange);
}

@media screen and (max-width: 425px) {
  .btn {
    width: 100%;
    margin: 15px auto 0;
  }
}
