.btn {
  display: flex;
  align-items: center;
  height: 45px;
  padding: 0;
  border: 0;
  color: var(--color-very-light-grey);
  font-family: "Public Sans", Helvetica, Arial, sans-serif;
  font-size: 12px;
  letter-spacing: 2.5px;
  cursor: pointer;
  overflow: hidden;
}

.img-btn {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 15px;
  background-color: rgb(26, 49, 64);
}

.text-btn {
  height: 100%;
  padding: 15px 25px;
  background-color: var(--color-dark-blue);
}

.btn:hover > .text-btn {
  background-color: var(--color-cyan);
}

.btn:hover > .img-btn {
  background-color: rgb(86, 163, 146);
}

.btn:hover > .img-btn > img {
  filter: invert(94%) sepia(98%) saturate(27%) hue-rotate(155deg)
    brightness(200%) contrast(100%);
}
