@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;700&family=Public+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  font-family: "Ibarra Real Nova", "Public Sans", Helvetica, Arial, sans-serif;
  line-height: 30px;
  font-weight: 400;
  font-size: 15px;

  /*primary colors*/

  --color-cyan: #ff6347;
  --color-dark-blue: #203a4c;
  --color-grayish-blue: #33323d;

  /*secondary colors*/
  /**background**/
  --color-very-light-grey: #fafafa;
  /**text field**/
  --color-light-grey: #eaeaeb;
  /**error**/
  --color-bright-red: #f43030;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x: hidden;
}

body,
#root {
  width: 100vw;
  margin: 0;
}

h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  color: var(--color-grayish-blue);
}

h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 42px;
  color: var(--color-grayish-blue);
}

h3 {
  font-size: 32px;
  font-weight: 100;
  line-height: 36px;
  color: var(--color-cyan);
}

h4 {
  font-family: "Public Sans", Garamond, Cambria, serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  color: var(--color-cyan);
}

h5 {
  font-family: "Public Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 1px;
  color: #475569;
}

ul {
  list-style-type: disc;
}

ul li {
  margin-left: 15px;
}

p,
li,
a,
div,
label,
input,
textarea {
  font-family: "Public Sans", Garamond, Cambria, serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: var(--color-dark-blue);
}
