.proj-container {
  width: 100vw;
  padding: 0 213px;
  margin: 100px 0;
  display: flex;
  align-items: center;
}

.proj-container > img {
  width: auto;
  height: 500px;
}

.proj-article {
  border-top: 2px solid var(--color-light-grey);
  border-bottom: 2px solid var(--color-light-grey);
  margin: 0 auto;
  padding: 0 0 45px;
  height: 500px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.proj-article > div > p {
  font-size: 15px;
}

@media screen and (min-width: 1700px) {
  .about-article {
    width: 500px;
  }
}

@media only screen and (max-width: 1224px) {
  .proj-container {
    padding: 0 20px;
    justify-content: space-between;
  }

  .proj-container > img {
    height: 350px;
  }

  .proj-article {
    margin: 0;
    padding-bottom: 20px;
    height: auto;
    width: 300px;
    text-align: justify;
  }

  .proj-article > div > h2 {
    margin: 23px 0;
  }
}

@media screen and (max-width: 450px) {
  .proj-container {
    display: block;
    margin: 20px 0;
  }

  .proj-container > img {
    width: 100%;
    height: auto;
  }
  .proj-article {
    margin: 20px 0;
    padding-bottom: 40px;
  }
}
